
.main-bg {
    background-image: url('../img/main-bg.svg.svg');
    background-size: cover;
    background-position: center center;
    color: var(--white-color);
}

.white-bg {
    background-image: url('../img/main-bg.svg.svg');
    background-size: cover;
    background-position: center center;
    color: var(--primary-color);
    background: var(--white-color);
}

.main-content {
    max-width: 120rem;
    margin: 0 auto;
    padding: 1rem var(--gap);
}

.section {
    min-height: 100vh;
}

body .full-width {
    width: 100%;
    flex: 1 1 100%S;
}